body {
    font-family: 'Cairo', sans-serif;
    transition: 0.3s;
}

body.dark {
    background: #0f0f0f;
    color: #fff;
}

body.light {
    background: #f8f9fa;
    color: #000;
}

.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #111;
    transition: 0.3s;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background: gold;
    color: black;
}

.card-custom {
    border: 1px solid gold;
    background: #1c1c1c;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader img {
    width: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}